<div id="mobile-nav" class="navbar navbar-default navbar-float-top col-sm-4 collapse hidden-md hidden-lg">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden-sm" href="/"><i class="fa fa-home"></i>&nbsp;Home</a>
    </div>

    <div class="collapse navbar-collapse">
      <div class="list-group">
        <a href="/about" class="list-group-item"><i class="fa fa-question-circle"></i>&nbsp;About</a>
        <a href="//github.com/randysecrist" class="list-group-item"><i class="fa fa-github"></i>&nbsp;Github</a>
        <a href="//twitter.com/randysecrist" class="list-group-item"><i class="fa fa-twitter"></i>&nbsp;Twitter</a>
        <a href="//www.linkedin.com/in/randy-secrist-8b143" class="list-group-item"><i class="fa fa-linkedin"></i>&nbsp;Linked In</a>
        <a href="/archives" class="list-group-item"><i class="fa fa-archive"></i>&nbsp;Old Stuff</a>
      </div>
    </div><!-- nav-collapse -->
  </div><!-- container -->
</div><!-- mobile-nav -->
